html {
  scroll-behavior: smooth;
}

.navbar-nav img {
  height: 20px;
  opacity: 0.5;
}

.navbar-nav img:hover {
  opacity: 1;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 4.25rem;
}

.carousel-item .row .col-md-3,
.carousel-item .row .col-sm-6,
.carousel-item .row .col-xs-12 {
  padding-left: 0;
  padding-right: 0;

  &:hover .d-none {
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .carousel-caption {
    opacity: 0;
    top: 16%;
  }

  img {
    height: 250px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .carousel-item .row .col-md-3:last-child,
  .carousel-item .row .col-md-3:nth-child(3) {
    display: none;
  }
}

@media (max-width: 550px) {
  .carousel-item .row .col-md-3:nth-child(2) {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.features {
  text-align: center;
  margin: 20px 50px;

  i {
    font-size: 35px;
  }

  .col {
    padding: 3rem;
  }

  .row {
    margin: 0 20px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer-list {
  list-style-type: none;

  li {
    border: 1px rgb(88, 88, 88) solid;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
  }
}

.footer-list img {
  height: 30px;
  opacity: 0.5;
}

.footer-list img:hover {
  opacity: 1;
}

.iimg-card {
  grid-area: item10;
}

.ttext-card {
  grid-area: item11;
}

.img-card {
  width: 33%;
}

.text-card {
  width: 66%;
}

.griddd {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "item11 item10";
}

.gridd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}

.one-feature {
  grid-area: item1;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}
.two-feature {
  grid-area: item2;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}
.three-feature {
  grid-area: item3;
  border-bottom: 1px black solid;
}
.four-feature {
  grid-area: item4;
  border-right: 1px black solid;
}
.five-feature {
  grid-area: item5;
  border-right: 1px black solid;
}
.six-feature {
  grid-area: item6;
}

@media (max-width: 850px) {
  .img-card {
    width: 50%;
  }
  .text-card {
    width: 50%;
  }

  .gridd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item6";
  }

  .two-feature {
    border-right: none;
  }

  .three-feature {
    border-right: 1px black solid;
  }

  .four-feature {
    border-right: none;
    border-bottom: 1px black solid;
  }
}

@media (max-width: 600px) {
  .img-card {
    width: 100%;
  }
  .text-card {
    width: 100%;
  }

  .griddd {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
      "item10"
      "item11";
  }

  .gridd {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6";
  }

  .feature {
    border-right: 0;
    border-bottom: 1px black solid;
  }

  .row {
    display: block;
  }

  .col span {
    display: flex;
  }
}
