html {
  scroll-behavior: smooth;
}

.navbar-nav img {
  height: 20px;
  opacity: 0.5;
}

.navbar-nav img:hover {
  opacity: 1;
}

.card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding: 4.25rem;
}

.carousel-item .row .col-md-3,
.carousel-item .row .col-sm-6,
.carousel-item .row .col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.carousel-item .row .col-md-3:hover .d-none,
.carousel-item .row .col-sm-6:hover .d-none,
.carousel-item .row .col-xs-12:hover .d-none {
  display: block;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.carousel-item .row .col-md-3 .carousel-caption,
.carousel-item .row .col-sm-6 .carousel-caption,
.carousel-item .row .col-xs-12 .carousel-caption {
  opacity: 0;
  top: 16%;
}

.carousel-item .row .col-md-3 img,
.carousel-item .row .col-sm-6 img,
.carousel-item .row .col-xs-12 img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item .row .col-md-3:last-child,
  .carousel-item .row .col-md-3:nth-child(3) {
    display: none;
  }
}

@media (max-width: 550px) {
  .carousel-item .row .col-md-3:nth-child(2) {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.features {
  text-align: center;
  margin: 20px 50px;
}

.features i {
  font-size: 35px;
}

.features .col {
  padding: 3rem;
}

.features .row {
  margin: 0 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer-list {
  list-style-type: none;
}

.footer-list li {
  border: 1px #585858 solid;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
}

.footer-list img {
  height: 30px;
  opacity: 0.5;
}

.footer-list img:hover {
  opacity: 1;
}

.iimg-card {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item10;
}

.ttext-card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item11;
}

.img-card {
  width: 33%;
}

.text-card {
  width: 66%;
}

.griddd {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
      grid-template-areas: "item11 item10";
}

.gridd {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "item1 item2 item3" "item4 item5 item6";
}

.one-feature {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

.two-feature {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

.three-feature {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
  border-bottom: 1px black solid;
}

.four-feature {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item4;
  border-right: 1px black solid;
}

.five-feature {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item5;
  border-right: 1px black solid;
}

.six-feature {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item6;
}

@media (max-width: 850px) {
  .img-card {
    width: 50%;
  }
  .text-card {
    width: 50%;
  }
  .gridd {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  }
  .two-feature {
    border-right: none;
  }
  .three-feature {
    border-right: 1px black solid;
  }
  .four-feature {
    border-right: none;
    border-bottom: 1px black solid;
  }
}

@media (max-width: 600px) {
  .img-card {
    width: 100%;
  }
  .text-card {
    width: 100%;
  }
  .griddd {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "item10" "item11";
  }
  .gridd {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
  }
  .feature {
    border-right: 0;
    border-bottom: 1px black solid;
  }
  .row {
    display: block;
  }
  .col span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */